@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
.centerme {
  display: flex;
  flex-direction: column;
  font-family: "Nunito", sans-serif;
  justify-content: space-evenly;
  margin: 0 auto;
  //margin-bottom: 20em;
  font-size: 0.8em;
  padding: 0px;
  color: #4f5858;
  //margin-top: 49em;
  font-size: 0.9em;
}
.cara {
}
.caps {
  margin: 0 auto;
}
.slick-prev:before,
.slick-next:before {
  color: red;
}
.slick-prev {
  margin-left: 40px;
  z-index: 1000;
}

.slick-next {
  margin-right: 40px;
  //padding-left: 2em;
  //width: 0.1em;
  z-index: 1000;
}
.slick-dots {
  margin: 0 auto;
}
