@mixin flex {
  display: flex;
  flex-wrap: wrap;
}

.aboutcont {
  height: 100vh;
  display: flex;
  color: #4f5858;
  flex-wrap: wrap;
  justify-content: space-around;
  font-family: "Nunito", sans-serif;
  font-size: 1.2em;
  align-items: center;
  align-content: center;
}
.chickContainer {
  @include flex;
  justify-content: space-around;
  // .space {
  //   position: fixed;
  //   width: 100%;
  //   height: 30em;
  // }
}
.chick {
  height: 35em;
  width: 35em;
  margin: 5em;
  padding-top: 5em;
  margin-top: 10em;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
}
.space {
  // position: fixed;
  width: 100%;
  margin: 15em;
}
.givemessage {
  margin: 0 auto;
  align-items: center;
  align-content: center;
  display: flex;
  height: 750px;
  padding-top: 5em;
}
.message {
  margin: 0 auto;
  width: 35vw;
  height: 50vh;
}
.messageimg {
  height: 10em;
  width: 10em;
}
.cara {
  //display: flex;
  padding-top: 40em;
  //margin-bottom: 15em;
}
.banner {
  width: 100%;
  height: 40em;
  min-width: 1400px; //the "container" width
  overflow: hidden;
  right: 0;
  background-position: right 0;
  top: 0;
  position: absolute;
  margin-top: -10px;
}
.home-landing {
}
@media (max-width: 900px) {
  .cara {
    padding-top: 10em;
  }
  .banner {
    display: none;
  }
}
@media (max-width: 700px) {
  .chick {
    height: 20em;
    width: 20em;
  }
  .chickContainer {
    // height: 60vh;
    margin-top: -10em;
    margin-bottom: -10em;
  }
}
@media (max-height: 800px) {
  .chick {
    // height: 20em;
    // width: 20em;
    // margin-top: 60em;
    display: none;
  }
  .chickContainer {
    // height: 60vh;
    // margin-top: -10em;
    // margin-bottom: -10em;
  }
  .aboutcont {
    margin-top: -20em;
  }
}
@media (max-width: 1330px) {
  .cara {
    margin-bottom: 15em;
  }
}
