@mixin flex {
  display: flex;
  flex-wrap: wrap;
}

.aboutcont {
  height: 100vh;
  display: flex;
  color: #4f5858;
  flex-wrap: wrap;
  justify-content: space-around;
}
.chickContainer {
  @include flex;
  justify-content: space-around;
}
.chick {
  height: 35em;
  width: 35em;
  margin: 5em;
  border-radius: 10px;
}
.givemessage {
  margin: 0 auto;
  align-items: center;
  align-content: center;
  display: flex;
  height: 750px;
}
.message {
  margin: 0 auto;
  width: 35vw;
}
.messageimg {
  height: 10em;
  width: 10em;
}
.banner {
  width: 100vw;
  height: 70vh;
  top: 0;
  position: static;
  margin-top: -10px;
}
.home-landing {
}
@media (max-width: 720px) {
  .chick {
    display: none;
  }
  .banner {
    display: none;
  }
}
