$font-stack: Helvetica Neue, Helvetica, Arial, sans-serif;
$primary-color: #333;
%dec {
  border: none;
  border-bottom: 2px solid grey;
  font-size: 1em;
}
.orders {
  font: 100% $font-stack;
  color: $primary-color;
  width: 20em;
  height: 15em;
  margin: 5em;
  display: flex;
  flex-direction: column;
  border: 2px solid red;
  border-radius: 25px;
  padding: 1em;
}
.info {
  @extend %dec;
}
.adminTitle {
  font: 200% $font-stack;
  color: $primary-color;
  margin: 4em;
}
.gradient-border {
  --borderWidth: 3px;
  width: 20em;
  height: 15em;
  padding: 1em;
  margin: 5em;
  background: white;
  position: relative;
  border-radius: var(--borderWidth);
}
.gradient-border:after {
  content: "";
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(
    60deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 6s ease alternate infinite;
  background-size: 300% 300%;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
